{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div>
        <p>
            On affiche les offres d'emplois
        </p>
    </div>
{% endblock %}
